body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.table-hover tbody tr:hover td {
    background: rgb(250,225,200);
    transition: background 0.1s linear;
}

.guestLogin {
    font-size: 0.8em;
}

/*
 SVG-Graphics
 */

.svg {
    width: 5%;
    height: 5%;
}

.runner {
    animation: fadeAway 5s linear infinite;
}

.bar {
    animation: loading 5s linear infinite;
}

@keyframes loading {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeAway {
    100%, 30% { transform: scale(1, 1);
    }
    2%, 20% { transform: scale(1.2, 1.2);
    }
    4%, 8% { transform: scale(0, 0);
    }
    75%, 50%, 35% {  transform: translate(1em, -0.5em);
    }
    55%, 65% { transform: translate(-1em, 0.5em);
    }
}

/*
 SVG-Graphics
 */

/*html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://wallpaperscraft.com/image/notebook_write_watch_pen_67636_1920x1080.jpg");
}

header {
    background-color: rgba(64,224,208,0.7);
    color: rgb(245,245,220);
    font-family: 'Leckerli One', cursive;
    border: 0.2em solid rgba(4,164,148,0.7);
}

p, li {
    font-family: 'Helvetica', sans-serif;
    color: rgb(245,245,220);
    text-shadow: black 0px 0px 10px;
}

nav {
    border: 0.2em solid rgba(4,164,148,0.7);
    background-color: rgba(64,224,208,0.7);
    position: fixed;
    width: 100%;
}

.fixed {
    top: 0;
}

ul {
    padding-left: 0;
}

nav li {
    float: left;
    padding-left: 0.8em;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(245,245,220);
    text-decoration: none;
}

a:hover {
    color: rgb(255,255,230);
    text-decoration: none;
}

.spacer {
    width: 100%;
    height: 2.5em;
}

.wrapper {
    font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper:after {
    content: "";
    display: block;
}

footer, .wrapper:after {
    height: 5em;
}

.form {
    padding: 0.5em 0.1em;
}

tr {
    background: rgb(245,245,220);
    border: 0.2em solid rgba(25%,25%,25%,0.5);
}

footer {
    font-size: 0.8em;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 0.5em 0.5em 0.5em;
}

form input {
    display: block;
    margin-bottom: 0.5em;
}*/